.Contact {
  padding-top: 190px;
  padding-bottom: 260px;
}

.contact-card {
  padding: 25px;
  width: fit-content;
  
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.fa-solid, .fa-brands {
  padding: 10px;
  color: white;
}

.fa-solid:hover, .fa-brands:hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 390px) {
.contact-card.mx-auto a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
  }

}
