.Hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_card {
  padding: 25px;
  width: fit-content;
  
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.35);
}
