.projects-container {
  margin: 0 auto;
  width: 80%;
  padding: 25px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.35);
}

.projects-card-title {
  font-size: 40px;
  margin-top: 8px;
}

