.App {
  background-image: url("https://img.freepik.com/free-vector/black-wide-banner-with-shadow-lines-design_1017-34216.jpg?w=1800&t=st=1655654702~exp=1655655302~hmac=622d8aa0673c073979b78895515087afeaf70823ff0247d55d086dbf5347a3f1");
  background-attachment: fixed;
  background-size: cover;
}
