@import './colors.scss';

.fieldset {
	text-align: left;
	border-color: black;
	border-style: solid;
	box-shadow: -10px 10px $primary-blue;
}

.legend {
  margin: 0 auto;
	font-family: Permanent Marker;
	font-size: 3em;
}

.form {
	margin: 0 auto;
	margin-bottom: 2.5rem;
	padding: 2rem 3rem;
}

.input,
.textarea {
	margin-bottom: 10px;
	display: block;
	width: 325px;
}

.input,
.textarea {
  padding: 5px;
  border: 2px solid black;
	font-size: 20px;
  box-shadow: -5px 5px $primary-blue;
}

.input {
	align-self: center;
}

.textarea {
	width: 100%;
	height: 7rem;
	font-family: Arial;
}

.button {
	padding: 10px 20px;
  width: 100%;
	border: none;
  outline: none;
	border-radius: 10px;
	background-color: $primary-blue;
  font-family: Permanent Marker;
  font-size: 28px;
}

.button:focus,
.button:hover {
	color: white;
	background-color: $hover-blue;
}

@media (max-width: 768px) {
	.form {
		padding: 2rem 2.5rem;
	}
}

@media (max-width: 481px) {
	.form {
		padding: 2rem 1rem;
	}

	.input {
		width: 100%;
	}
}
