@import './colors.scss';

.fieldset {
	margin: 0 3rem 2rem;
	text-align: left;
	border-color: black;
	border-style: solid;
	box-shadow: -10px 10px $primary-blue;
}

.legend {
	margin: 0 auto;
	font-family: Permanent Marker;
	font-size: 3em;
}

.wrapper {
	margin: 0 auto;
	padding: 1.5rem 2rem;
}

.input,
.textarea {
	margin-bottom: 10px;
	width: 33%;
}

.input,
.textarea {
	padding: 5px;
	border: 2px solid black;
	font-size: 20px;
	box-shadow: -4px 4px $primary-blue;
}

.input {
	width: 60%;
}

.textarea {
	width: 100%;
	height: 7rem;
	font-family: Arial;
}

.button {
	padding: 10px 20px;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: $primary-blue;
	font-family: Permanent Marker;
	font-size: 32px;
}

.button:focus,
.button:hover {
	color: white;
	background-color: $hover-blue;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1.5rem 1.25rem;
  }

	.input {
		width: 75%;
	}
}

@media (max-width: 451px) {
  .wrapper {
    padding: 1.5rem 1rem;
  }

	.fieldset {
		margin: 1rem 1rem 0;
	}

	.legend {
		font-size: 2rem;
	}

	.form {
		padding: 1rem 0;
	}

	.input,
	.textarea {
		font-size: 18px;
	}

	.input {
		width: 100%;
	}

	.button {
		font-size: 24px;
	}
}
