@import './colors.scss';

.menu {
	display: flex;
	justify-content: space-between;
	margin: 1rem 1rem 0;
	padding: 1rem 1rem 0;

	text-align: right;
	list-style: none;
}

.menu_underlay {
	display: inline-block;
	margin: 12px;
	height: 20px;

	border: none;
	background-color: $primary-blue;
	z-index: -1;
}

#underlay_no_margin_right {
	margin-right: 0;
}

.menu_underlay:hover {
	outline: 2px solid $hover-blue;
	background-color: transparent;
}

.menu_underlay:hover .link {
	color: $hover-blue;
}

.logo_underlay {
	height: 32px;
}

.link {
	display: block;
	position: relative;
	top: -14px;
	left: -14px;

	border: none;
	outline: none;

	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-family: Permanent Marker;
	font-size: 24px;
	font-weight: 900;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;

	background-color: transparent;
}

.logo {
	top: -26px;
	left: -24px;
	font-size: 42px;
}

.menu_icon {
	display: none;
	color: black;
	font-size: 32px;
}

.sidenav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: white;
	box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 1000;

	&_menu {
    margin: 20px;
		padding: 0;
		height: 100%;

		list-style-type: none;
		text-align: center;
		font-size: 32px;
    
		&_x {
      margin: 15px;
			color: white;
			font-size: 54px;
			color: black;
		}
    
		&_link {
      display: inline-block;
      margin-bottom: 0.5rem;
			font-family: Permanent Marker;
		}

		&_link:hover,
		&_x:hover {
			color: $hover-blue;
		}
	}
}

.menu_icon:hover {
	color: $hover-blue;
}

.right {
	width: fit-content;
}

.page_content {
	margin-bottom: 75px;
}

.footer {
  position: fixed;
  bottom: 0;
	width: 100%;
	background-color: $primary-blue;

	&_icons {
		margin: auto;
		width: fit-content;
		color: white;

		.footer_icon {
			display: inline-block;
			margin: 8px 5px 0;
			font-size: 32px;
		}

		.footer_icon:hover {
			color: $hover-blue;
		}
	}
}

@media (max-width: 900px) {
	.right {
		display: none;
	}

	.logo {
		font-size: 32px;
		top: -18px;
	}

	.menu_underlay {
		height: 28px;
	}

	.menu_icon {
		display: flex;
		align-self: center;
		line-height: 1px;
	}

	.footer_icon {
		font-size: 48px;
	}
}

@media (max-width: 481px) {
	.menu {
		padding: 0;
	}

	.logo {
		font-size: 20px;
		top: -14px;
		left: -10px;
	}

	.menu_underlay {
		height: 15px;
	}

	.menu_icon {
		font-size: 24px;
	}
}
