@import './colors';

.main {
	display: flex;
  align-items: center;
}

.left,
.right {
	width: 49%;
	margin: 10px;
}

.fieldset {
	text-align: left;
	border-color: black;
	border-style: solid;
	box-shadow: -10px 10px $primary-blue;
}

.legend {
	font-family: Permanent Marker;
	font-size: 2em;
	transform: rotate(-10deg);
}

.bio {
	margin: 1rem 2rem 3rem;
	font-size: 24px;
  font-weight: 300;
}

.stack {
	text-align: center;
}

.stack_icon {
	margin: 5px;
	padding: 8px;

	border-radius: 10px;
	font-size: 72px;
	color: white;
	background-color: $primary-blue;
}

@media (max-width: 920px) {
	.split {
		flex-direction: column;
		align-items: center;
	}

	.stack {
		text-align: center;
	}
}

@media (max-width: 900px) {
	.main {
		flex-direction: column;
		align-items: center;
	}

	.left,
	.right {
		flex-direction: row;
		width: 95%;
		margin: 0 auto;
	}

  .bio {
    margin: 15px;
  }

  .right {
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .bio {
    font-size: 18px
  }

	.stack_icon {
    margin: 2px;
		font-size: 44px;
	}
}
